/.idea
/target
/test
/elrond-api/target
/elrond-api/test
/elrond-core/target
/elrond-core/test
/elrond-core/blockchain.block*
/elrond-core/blockchain.settings*
/elrond-core/blockchain.transaction*
/elrond-core/blockchain.account*
/elrond-core/blockchain.index*
/bin
/consumer
/producer
.project
