/.idea
/target
/test
/elrond-api/target*
/elrond-api/test*
/elrond-core/target*
/elrond-core/test*
/elrond-core/blockchain.block*
/elrond-core/blockchain.settings*
/elrond-core/blockchain.transaction*
/elrond-core/blockchain.account*
/elrond-core/blockchain.index*
/bin
/consumer*
/producer*
.project
*.iml
elrond-node-1
elrond-node-2
logs
.DS_Store
/classes
/classes/*

elrond-node-2.1
