<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="MAIN_LOG_PATTERN">
        %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="ALT_LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p: %msg  >>> [%t] %c{1.}%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${MAIN_LOG_PATTERN}"/>
            <!--<Filters>-->
                <!--<MarkerFilter marker="CATCHING" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            <!--</Filters>-->
        </Console>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

        <Logger name="network.elrond" level="TRACE"></Logger>
    </Loggers>
</Configuration>