<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="MAIN_LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="ALT_LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p: %msg  >>> [%t] %c{1.}%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${MAIN_LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="logs/elrond.log"
                     filePattern="logs/elrond-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${MAIN_LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- SMTP Appender
        <SMTP name="MailAppender"
              subject="Log4j2 Demo [PROD]"
              to="youremail@example.com"
              from="log4j2-demo-alerts@example.com"
              smtpHost="yourSMTPHost"
              smtpPort="587"
              smtpUsername="yourSMTPUsername"
              smtpPassword="yourSMTPPassword"
              bufferSize="1">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${MAIN_LOG_PATTERN}</Pattern>
            </PatternLayout>
        </SMTP>
         -->
    </Appenders>

    <Loggers>
        <!--<AsyncLogger name="network.elrond" level="debug" additivity="false">-->
            <!--<AppenderRef ref="ConsoleAppender"/>-->
            <!--<AppenderRef ref="FileAppender"/>-->
            <!--<AppenderRef ref="WebSocketAppender"/>-->
        <!--</AsyncLogger>-->

        <Root level="ERROR">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <!--<AppenderRef ref="WebSocketAppender"/>-->
        </Root>

        <Logger name="network.elrond" level="DEBUG"></Logger>
    </Loggers>
</Configuration>